
:root {
  --t1: clamp(4rem, calc(10vw + 1rem), 7rem);
  --t2: clamp(2.5rem, calc(6vw + 1rem), 3.5rem);
  --t3: clamp(1rem, calc(3vw + 1rem), 2.8rem);
  --par: clamp(0.25rem, calc(1vw + 1rem), 1.5rem);
}

body{
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Urban;
  background-color: #0b1a36;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1{
  font-size: var(--t1);
  color: rgb(240, 245, 243);
}
h2{
  font-size: var(--t2);
}
h3{
  font-size: var(--t3);
  color: rgb(240, 245, 243);
}
h4{
  font-size: var(--par);
  color: rgb(240, 245, 243);
}
p{
  font-size: var(--par);
  color: rgb(240, 245, 243);
}

a{
  text-decoration: none;
}

#navbar{
  font-size: var(--par);
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/0.0625;
  /* height: 70px; */
  gap: 2vw;
  position: sticky;
  top: 0;
  z-index: 2;
}

#hero{
  aspect-ratio: 1/0.5;
  text-align: center;
}

#projects{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* height: 700px;  */
  aspect-ratio: 1/0.5;
}

#about{
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/0.75;
  text-align: center;
  margin: 5vw;
  gap: 5vw;
}

#footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  aspect-ratio: 1/0.0625;
  margin: 0vw 2vw 0vw 2vw;
}

.sun{
  width: 120vw;
  aspect-ratio: 1/1;
  background: url(assets/noise-light.png), radial-gradient(circle, #015ba0, #006CBC);
  border-radius: 50%;
  box-shadow: 0 0 60px 35px #277fc2 inset, 0 0 80px 5px #277fc2, 0 0 50px 20px #006CBC, 0 0 60px 20px #1A63C0,  0 0 400px 100px #006CBC;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);  
  z-index: -1;
}

.project-responsive{
  width: 18vw;
  aspect-ratio: 1/2.1;
  border-radius: 23px;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.project-card{
  width: 20vw;
  background: #07182E;
  aspect-ratio: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.project-card::before{  
  content: '';
  width: 10vw;
  aspect-ratio: 1/5;
  position: absolute;
  background-image: linear-gradient(#FF80FF 0%, #3487C7 100%);
  animation: cardRotate 5s linear infinite;
  transition: all 0.2s linear;
}

.project-card::after{
  content: "";
  background: #07182E;
  position: absolute;
  border-radius: 30px;
}

@keyframes cardRotate{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.about-responsive{
  width: 30vw;
  aspect-ratio: 1/1.4;
  object-fit: cover;
}